@use "base/resets" as *;
@use "base/variables" as *;
@use "base/typography" as *;
@use "components/btns" as *;
@use "base/global" as *;

@use "layout/header" as *;
@use "layout/hero" as *;
@use "layout/how-it-works" as *;
@use "layout/chalets" as *;
@use "layout/destination" as *;
@use "layout/concierge" as *;
@use "layout/breadcrumb" as *;
@use "layout/courchevel" as *;
