@use "base/resets" as *;
@use "base/variables" as *;
@use "base/typography" as *;
@use "components/btns" as *;
@use "base/global" as *;

@use "layout/header" as *;
@use "layout/hero" as *;
@use "layout/how-it-works" as *;
@use "layout/chalets" as *;
@use "layout/destination" as *;
@use "layout/concierge" as *;
@use "layout/brand-values" as *;
@use "layout/footer" as *;
@use 'layout/product-detail' as *;
@use "layout/chalet-about" as *;
@use "layout/breadcrumb" as *;
@use "layout/spotlight" as *;
@use "layout/tiles-grid" as *;
@use "layout/courchevel-hero" as *;
@use "layout/showcase" as *;
@use "layout/insight-hub" as *;
@use "layout/service-orchestration" as *;
@use "layout/key-features" as *;
@use "layout/details" as *;
@use "layout/details-sevices" as *;
@use "layout/location-context" as *;
@use "layout/information" as *;
@use "layout/featured" as *;
@use "layout/properties-header-modifier" as *;
@use "layout/listing-grid" as *;
@use "layout/filters-panel" as *;
@use "layout/services-intro" as *;
@use "layout/plan-cards" as *;
@use "layout/offered-services" as *;
@use "layout/featured-services" as *;
@use "layout/about-intro" as *;
@use "layout/brand-pillars" as *;
@use "layout/founder-note" as *;
@use "layout/join-us-hero__modifier" as *;
@use "layout/text-layout" as *;
@use "layout/services-overview" as *;
@use "layout/collaboration-steps" as *;
@use "layout/terms-overview" as *;
@use "layout/images-with__text" as *;
@use "layout/our-process" as *;
@use "layout/features-highlight" as *;
@use "layout/pillars-grid" as *;
@use "layout/philosophy" as *;
@use "layout/text-block" as *;
@use "layout/target-cards" as *;
@use "layout/partner-services" as *;
@use "layout/partner-process" as *;
@use "layout/contact-form" as *;
@use "layout/journal-header" as *;
@use "layout/journal-hero" as *;
@use "layout/journal-articles" as *;
