@use "base/resets" as *;
@use "base/variables" as *;
@use "base/typography" as *;
@use "components/btns" as *;
@use "base/global" as *;

@use "layout/header" as *;
@use "layout/hero" as *;
@use "layout/how-it-works" as *;
@use "layout/chalets" as *;
@use "layout/destination" as *;
@use "layout/concierge" as *;
@use "layout/brand-values" as *;
@use "layout/footer" as *;
@use 'layout/single-chalet' as *;
@use "layout/chalet-about" as *;
@use "layout/breadcrumb" as *;
@use "layout/courchevel" as *;
@use "layout/courchevel-areas" as *;
@use "layout/courchevel-hero" as *;
@use "layout/courchevel-chalets" as *;
@use "layout/courchevel-inspirations" as *;
@use "layout/courchevel-concierge" as *;
@use "layout/single-chalet-details" as *;
@use "layout/details-sevices" as *;
@use "layout/chalet-location-context" as *;
@use "layout/chalet-information" as *;
@use "layout/chalet-featured" as *;
@use "layout/properties-header-modifier" as *;
@use "layout/properties-products" as *;
@use "layout/portfolio" as *;
@use "layout/services-intro" as *;
@use "layout/tiers" as *;
@use "layout/offered-services" as *;
@use "layout/featured-services" as *;
@use "layout/about-intro" as *;
@use "layout/brand-pillars" as *;
@use "layout/founder-note" as *;
@use "layout/join-us-hero__modifier" as *;
@use "layout/about-summary" as *;
@use "layout/what-we-do" as *;
@use "layout/collaboration" as *;
@use "layout/collaboration-terms" as *;
@use "layout/about-work" as *;
@use "layout/process" as *;
@use "layout/work-feature" as *;
@use "layout/work-pillars" as *;
@use "layout/design-philosophy" as *;
