.about {
  max-width: 1920px;
  margin-inline: auto;

  .container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;

    @media (max-width: 992px) {
      text-align: center;
      flex-direction: column-reverse;
      gap: 16px;
    }
  }

  &__images {
    flex: 1;
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    align-items: center;
    gap: 20px;
    max-width: 680px;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 12px;
    }

    &-group__primary {
      grid-column: 1;
    }

    &-group__secondary {
      grid-column: 2;
      width: 85%;
    }
  }

  &__content {
    flex: 1;
    max-width: 680px;

    .section-title {
      text-align: start;
      padding-bottom: 24px;
      margin-bottom: 24px;

      @media (max-width:992px) {
        text-align: center;
      }

      &::after {
        left: 0;
        transform: translateX(0);

        @media (max-width:992px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    p {
      font-size: 24px;
      line-height: 1.6;
      margin-bottom: 20px;
      color: #333;

      @media (max-width:992px) {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
}