.about-intro {
  .container {
    display: flex;
    align-items: center;
    gap: 80px;
    @media (max-width:1240px) {
      flex-direction: column-reverse;
      margin-bottom: 0;
      gap: 16px;
    }
  }

  &__gallery {
    display: flex;
    gap: 20px;
    align-items: center;

      @media (max-width:992px) {
        gap: 16px;
    }
  }

  &__image-wrapper {
    max-width: 350px;
    border-radius: 20px;
    img {
      object-fit: cover;
    }

    &--primary {
      padding-top: 150px;
      @media (max-width:1240px) {
        padding-top: 50px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
    max-width: 650px;

    @media (max-width:1240px) {
      align-items: center;
      gap: 12px;
    }

    .section-title {
      &::after {
        transform: translateX(0);
        left: 0;

        @media (max-width:992px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__description {
    font-size: 24px;

    :nth-child(1) {
      margin-bottom: 24px;

      @media (max-width:992px) {
        margin-bottom: 12px;
      }
    }
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.5;
      span {
        text-transform: uppercase;
      }

      @media (max-width:992px) {
        font-size: 12px;
        margin-bottom: 12px;
      }
    }

    @media (max-width:1240px) {
      text-align: center;
    }
  }
}