.about-summary {
  max-width: 1920px;
  margin-inline: auto;
  background: var(--services-intro-content-background);

  .container {
    max-width: 1440px;
    display: flex;
    gap: 80px;
    color: #fff;
    padding: 0;
    padding-block: 100px;

    @media (max-width:1040px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 24px;
      gap: 12px;
    }
  }

  .secondary-title {
    font-weight: 500;
    color: #fff;
  }

  &__content {
    max-width: 1145px;
    p {
      font-size: 24px;
      margin-bottom: 15px;
      line-height: 1.5;
      &:last-child {
        font-style: italic;
        margin-bottom: 0;
      }
      @media (max-width:768px) {
        font-size: 12px;
      }
    }

  }
}