.about-intro {
  max-width: 1920px;
  margin-inline: auto;

  .container {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;

    @media (max-width:1240px) {
      flex-direction: column-reverse;
      margin-bottom: 0;
      margin-block: 24px;
    }
  }

  &__gallery {
    display: flex;
    gap: 20px;
    align-items: center;

      @media (max-width:768px) {
        gap: 16px;
    }
  }

  &__image-wrapper {
    max-width: 350px;
    border-radius: 20px;
    img {
      object-fit: cover;
    }

    &--primary {
      padding-top: 150px;
      @media (max-width:1240px) {
        padding-top: 50px;
      }
    }
  }

  .divider {
    background: #000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
    max-width: 650px;

    @media (max-width:1240px) {
      align-items: center;
      gap: 12px;
    }
  }

  &__description {
    font-size: 24px;

    :nth-child(1) {
      margin-bottom: 24px;
    }
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.5;
      span {
        text-transform: uppercase;
      }

      @media (max-width:1240px) {
        font-size: 12px;
      }
    }

    @media (max-width:1240px) {
      text-align: center;
    }
  }
}