.brand-values {
  background: var(--background-brand-values);
  color: var(--color-white);
  max-width: 1920px;
  margin: 0 auto;
  padding-block: 64px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media(max-width: 765px) {
      flex-direction: column;
      padding-inline: 24px;
    }

    span {
      width: 2px;
      height: 350px;
      background-color: var(--color-border);

      @media(max-width: 765px) {
        width: 100%;
        height: 2px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding-inline: 38px;
    color: inherit;

    svg path {
      fill: currentColor;
    }
    &-title {
      font-size: 32px;
      font-weight: 500;
    }

    &-description {
      font-size: 24px;
      text-align: center;
    }
  }
}

