.brand-values {
  background: var(--background-brand-values);
  color: var(--color-white);
  padding-block: 64px;

  @media (max-width:992px) {
    padding-block: 24px;
  }

  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 40px;

    @media(max-width: 768px) {
      grid-template-columns: repeat(1,1fr);
      gap: 12px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 48px 40px;
    color: inherit;
    position: relative;
    width: 100%;
    max-width: 439px;

    @media (max-width:768px) {
      padding: 0 10px 12px 10px;
      gap: 12px;
    }

    svg {
      @media (max-width:992px) {
        width: 40px;
        height: 40px;
      }
      path {
        fill: currentColor;
      }
    }

    &-title {
      font-size: 32px;
      font-weight: 500;

      @media (max-width:992px) {
        font-size: 20px;
      }
    }

    &-description {
      font-size: 24px;
      text-align: center;
      font-weight: 400;

      @media (max-width:992px) {
        font-size: 14px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: var(--color-border);

      @media (max-width:768px) {
        height: 2px;
        width: 200px;
        bottom: 0;
        right: auto;
        top: auto;
      }
    }

    &:last-child::after {
      display: none;
    }
  }
}

