.breadcrumb {
  max-width: 1920px;
  margin-inline: auto;

  .container {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 18px 64px;
    margin-inline: auto;
    a {
      text-decoration: none;
      color: #000;
    }
  }

  @media (max-width: 765px) {
    display: none;
  }
}