.breadcrumb {
  .container {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-block: 14px;

    a {
      text-decoration: none;
      color: #000;
      font-size: 20px;
      font-weight: 400;
    }
  }

  @media (max-width:992px) {
    &__mobile-hide {
      display: none;
    }
  }

  @media (max-width:992px) {
    &__current,&__home,&__arrow {
      display: none;
    }
    .container {
      padding-inline: 16px;
    }

    &-hide {
      display: none;
    }
  }

  &-arrow__mobile {
    display: none;
    @media (max-width:992px) {
      display: block;
    }
  }
  &__modifier{
    background: #f5f5f5;
  }
}