.location-context {
  .key-features__list {
    flex-direction: column;
    gap: 48px;
    padding-right: 24px;
    ul
      li {
        font-size: 20px;
        font-weight: 400;
        span {
          padding: 0;
          background: none;
          width: 24px;
          height: 24px;
          display: block;
          svg path {
            fill: var(--color-2);
          }
        }
    }
  }

  .key-features__content {
    span {
      width: 558px;

      @media (max-width:768px) {
        width: 210px;
      }
    }
  }

  &__subTitle {
    font-size: 28px;
    font-weight: 600;
  }

  &__text {
    font-size: 12px;
    font-weight: 400;
    margin: 14px 0 16px 0;
  }
}