.chalets {
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden;

  .section-watermark {
    position: absolute;
    bottom: 100px;
    left: 0;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .section-title {
    margin-bottom: 16px;
    color: #1F1F1F;

    @media (max-width: 992px) {
      margin-bottom: 12px;
    }
  }

  &__content {
    margin: 0 auto 64px;
    text-align: center;

    @media (max-width: 992px) {
      margin-bottom: 32px;
    }
  }

  &__text {
    font-size: 16px;
    color: #585858;
    font-weight: 400;

    @media (max-width: 992px) {
      font-size: 12px;
      line-height: 1.6;
      margin-bottom: 10px;
      color: #333333;
    }
  }

  .showcase__grid {
    margin-bottom: 40px;
  }

  .listing-grid-fav {
    position: static;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
