.chalet-about {
  max-width: 1192px;
  margin-inline: auto;
  margin-inline: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__container {
    margin-inline: auto 0;
    max-width: 952px;
    padding-block: 60px;

    @media (max-width:768px) {
      padding-inline: 24px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      rotate: 180deg;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__content {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 48px;

    @media (max-width: 768px) {
      gap: 12px;
    }

    h3 {
      font-size: 36px;
      font-weight: 600;
      text-transform: uppercase;

      @media (max-width:768px) {
        font-size: 14px;
      }
    }

    span {
      width: 551px;
      height: 1px;
      background: #000;
      display: block;

      @media (max-width: 768px) {
        width: 211px;
      }
    }
  }

  &__text {
    p {
      font-size: 24px;
      line-height: 1.3;
      margin-block: 4px;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    p:nth-of-type(2) {
      display: none;

      &.show {
        display: block;
      }
    }

    a {
      text-decoration: none;
      font-size: 18px;
      font-style: italic;
      font-weight: 600;
      color:#5A98C0;

      @media (max-width:768px) {
        display: none;
      }

      &.active {
        ~ p:nth-of-type(2) {
          display: block;
        }
      }
    }

    @media (max-width:768px) {
      p:nth-of-type(2) {
        display: block;
        margin-top: 40px;
      }
    }
  }
}