.collaboration-terms {
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;

  .container {
    max-width: 1440px;
    position: relative;

    .section-title {
      margin-bottom: 40px;
    }
    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__text {
      font-size: 24px;
      text-align: center;
      margin-bottom: 24px;
      &:first-child {
      font-size: 28px;
      font-style: italic;
      color: #5A98C0;
      @media (max-width:992px) {
        font-size: 12px;
      }
    }
    @media (max-width:992px) {
      font-size: 12px;
    }
  }
}