.collaboration {
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
  background: #F5F5F5;
  &::before {
    content: "";
    position: absolute;
    background: var(--color-1);
    z-index: 1;
    left: 0;
    width: 100%;
    height: 2px;
    top: 34%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .container {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-block: 100px;
  }

  &__steps {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2,1fr);
      gap: 80px 0;

      &::before {
        content: "";
        position: absolute;
        background: var(--color-1);
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        transform: translateX(-50%);
      }
    }
  }

  &__step {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 80px;
    max-width: 100%;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background: var(--color-1);
      border-radius: 50%;
      border: 4px solid #fff;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;

      @media (max-width:1240px) {
        top: 73px;
      }
    }

    @media (max-width: 992px) {

      text-align: center;

      &::before {
        top: 0;
        transform: translate(-50%, 0);
      }

      &.grid-item-1, &.grid-item-3 {
        grid-column: 1;
        text-align: right;
        padding-right: 40px;
        align-items: flex-end;

        &.grid-item-1,&.grid-item-3 {
          text-align: left;
          grid-column-start: 1;
          grid-column-end: 3;
          flex-direction: row-reverse;
          align-items: flex-start;
          justify-content: start;
        }

        .collaboration__step-label {
          margin-right: 40px;
        }
      }

      &.grid-item-2 {
        grid-row: 2;
        flex-direction: row;
        grid-column-start: 1;
        justify-content: space-between;
        grid-column-end: 3;
        align-items: start;
        text-align: start;
        justify-content: flex-end;
        .collaboration__step-label {
          margin-left: 40px;
        }
      }

      &.grid-item-3 {
        grid-row: 3;
      }
    }
  }

  &__step-label {
    font-size: 24px;
    font-weight: 600;
    color: #828282;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  &__step-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.3;
  }

  &__text {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 10px;

    &--italic {
      font-style: italic;
      color: #666;
      margin-top: 15px;
    }
  }

  @media (max-width:992px){
    &__content {
      max-width: 321px;
    }
  }
}