.collaboration {
  background: #f5f5f5;

  .container {
    max-width: 1400px;
  }

  .section-title {
    margin-bottom: 40px;
  }

  &__steps {
    position: relative;

    @media (min-width: 993px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 58px;
        left: 0;
        right: 0;
        height: 2px;
        background: var(--color-1);
      }
    }

    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      gap: 72px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        background: var(--color-1);
      }
    }
  }

  &__step {
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      background: var(--color-1);
      border-radius: 50%;
      z-index: 3;
    }

    @media (min-width: 993px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &::after {
        top: 38px;
        left: 50%;
        width: 24px;
        height: 24px;
        border: 5px solid #fff;
        transform: translateX(-50%);
      }
    }

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
      align-items: flex-start;
      padding: 0 16px;

      &::after {
        top: 0;
        left: 50%;
        width: 18px;
        height: 18px;
        border: 4px solid #fff;
        transform: translateX(-50%);
      }

      &:nth-child(odd) {
        direction: rtl;

        .collaboration__step-label,
        .collaboration__content {
          direction: ltr;
        }

        .collaboration__step-label {
          text-align: left;
          grid-column: 2;
        }

        .collaboration__content {
          grid-column: 1;
          text-align: right;
        }
      }

      &:nth-child(odd) {
        .collaboration__step-label {
          text-align: left;
          grid-column: 1;
        }

        .collaboration__content {
          grid-column: 2;
          text-align: left;
        }
      }
    }
  }

  &__step-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #828282;

    @media (min-width: 993px) {
      margin-bottom: 20px;
    }
  }

  &__content {
    max-width: 413px;
    margin-top: 20px;
    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  &__step-title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.3;

    @media (max-width: 992px) {
      font-size: 14px;
      margin-top: 0;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;

    &--italic {
      font-style: italic;
      margin-top: 20px;
    }

    @media (max-width: 992px) {
      font-size: 10px;
      line-height: 1.6;
    }
  }
  .grid-item-2 .collaboration__step-label {
    text-align: right;
  }
}

