.company-partners {
  background: #2C2C2C;

  &.section {
    padding-block: 60px;

    @media (max-width: 992px) {
      padding-block: 24px;
    }
  }

  .section-title {
    color: #fff;

    &::after {
      background: #fff;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 60px;
    overflow: hidden;
  }

  &__body {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    margin-top: 40px;
    animation: scroll 30s linear infinite;
    flex-shrink: 0;

    @media (max-width: 992px) {
      margin-top: 24px;
      gap: 35px;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - 60px));
      }
    }
  }

  &__logo {
    flex-shrink: 0;
    align-self: center;
    text-decoration: none;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &.for-winter {
      gap: 8px;
      width: 100%;
      max-width: 140px;

      @media (max-width: 992px) {
        max-width: 76px;
      }
    }

    img {
      width: 100%;
      display: block;
      height: auto;
      display: block;
    }
  }
}