.concierge {
  background-color: var(--color-11);
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: var(--color-white);
  img {
    position: absolute;
    top: 0;
    right: -150px;
    z-index: -1;
  }
}

.concierge__content {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  align-items: center;
  @media (max-width: 1200px) {
    gap: 60px;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 24px;
  }

  .section-title {
    max-width: 350px;
    text-align: start;

    &::after {
      background: var(--color-white);
      display: none;
      @media (max-width:992px) {
        display: block;
      }
    }

    @media (max-width:992px) {
      max-width: 100%;
      text-align: center;
    }
  }
}

.concierge__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  flex: 1;
  @media (max-width: 1200px) {
    gap: 40px;
    text-transform: uppercase;
  }

  @media (max-width: 992px) {
    gap: 12px;
    justify-items: center;
  }

  @media (max-width:380px) {
    grid-template-columns: repeat(1,1fr);
    place-items: center;
  }
}

.concierge__column {
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    background: rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
    width: 100%;
  }
}

.concierge__column-title {
  font-size: 24px;
  font-weight: 500;


  @media (max-width: 992px) {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.concierge__list {
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 36px;
  margin-top: 24px;
  @media (max-width: 992px) {
    gap: 8px;
    margin-top: 0;
    padding-left: 12px;
  }

  li {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    @media (max-width: 992px) {
      font-size: 10px;
    }

    &::marker {
      color: var(--color-white);
    }
  }
}

