.concierge {
  background-color: #B78A67;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
  z-index: 1;

  img {
    position: absolute;
    top: 0;
    right: -150px;
    z-index: -1;
  }
}

.concierge__content {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  align-items: center;
  @media (max-width: 1200px) {
    gap: 60px;
  }

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 40px;
  }

  span {
    width: 70px;
    height: 2px;
    background-color: #FFF;
    display: none;

    @media (max-width: 992px) {
      display: block;
    }
  }
}

.concierge__title {
  font-size: 40px;
  font-weight: 500;
  color: #FFFFFF;
  max-width: 350px;

  @media (max-width: 992px) {
    font-size: 32px;
    max-width: 100%;
    text-align: center;
  }
}

.concierge__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  flex: 1;

  @media (max-width: 1200px) {
    gap: 40px;
    max-width: 100%;
    text-transform: uppercase;
  }

  @media (max-width: 992px) {
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

.concierge__column {
  display: flex;
  flex-direction: column;

  @media (max-width: 992px) {
    background: rgba(0, 0, 0, 0.08);
    padding: 12px;
    border-radius: 8px;
  }
}

.concierge__column-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0 0 24px -30px;
  line-height: 1.3;
  @media (max-width: 992px) {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.concierge__list {
  list-style: disc;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: 992px) {
    gap: 8px;
    list-style: none;
  }

  li {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.5;
    position: relative;
    padding-left: 0;

    @media (max-width: 992px) {
      font-size: 10px;
    }

    &::marker {
      color: #FFFFFF;
    }
  }
}

