.courchevel-areas {
  max-width: 1920px;
  margin-inline: auto;
  background:#F5F5F5;
  margin-block: 100px;
  margin-inline: auto;

  &__content {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-block: 100px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    h4 {
      font-size: 40px;
      font-weight: 500;
      text-transform: uppercase;
    }

    span {
      width: 100px;
      height: 2px;
      background: #000;
    }
  }

  &__list {
    display: flex;
    gap: 24px;
    align-items: center;

    @media (max-width:992px) {
      flex-direction: column;
    }
  }

  &__area {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 324px;
    text-align: center;
    &-title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    &-description {
      font-size: 22px;
    }
  }

  &__separator {
    height: 80px;
    width: 2px;
    background: #000;

    @media (max-width:992px) {
      width: 80px;
      height: 2px;
    }
  }
}