.courchevel-chalets {
  max-width: 1920px;
  margin-inline: auto;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width:992px) {
      position: relative;
      display: block;
      color: transparent;
      font-size: 20px;
      &::before {
        content: "FEATURED CHALETS";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: #000;
        text-align: center;
      }
    }
  }

  &__divider {
    display: block;
    width: 100px;
    height: 2px;
    background: #000;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 40px 0 80px 0;

    @media (max-width:992px) {
      grid-template-columns: repeat(1,1fr);
      width: 100%;
      border-bottom: 2px solid #585858;
      padding-bottom: 20px;
    }
  }

  &__item {
    max-width: 453px;
    overflow: hidden;

    @media (max-width:992px) {
      max-width: 100%;
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    div {
      margin-top: 16px;
      h6 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 4px;
      }

      p {
        font-size: 20px;
        color: #585858;
      }
    }
  }

  &__amenities {
    font-size: 20px;
    color: #585858;
    font-weight: 500;
    margin-block: 16px;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    padding: 20px 14px;
    display: flex;
    gap: 12px;
    align-items: center;
    background: #000;
    justify-content: center;
    max-width: 230px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  &__view-all {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background: #5A98C0;
    padding: 24px 48px;
    border-radius: 12px;

    @media (max-width:992px) {
      position: relative;
      color: transparent;

      &::before {
        content: "Request Your Stay";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 0;
      }
    }
  }

  &__capacity {
    width: 120px;
    border-radius: 100px;
    padding: 6px 12px;
    background: #EEEEEE;
  }
}