.courchevel-concierge {
  padding-inline: 20px;

  .container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 0;
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    place-items: center;

    @media (max-width:992px) {
     grid-template-columns: repeat(1,1fr);
     width: 100%;
    }
  }

  &__category {
    max-width: 453px;
    padding: 36px;
    background: #F5F5F5;
    border-radius: 16px;
    width: 100%;

    @media (max-width:992px) {
      max-width: 100%;
    }

    &-title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 16px;
      margin-left: -25px;

      @media (max-width:992px) {
        font-size: 16px;
      }
    }
  }

  &__list {
    list-style: disc;
    font-size: 22px;

    @media (max-width:992px) {
      font-size: 14px;
    }
  }
}