.courchevel-concierge {
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: 20px;
  margin-bottom: 100px;

  &__wrappe {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__divider {
    width: 100px;
    height: 2px;
    display: block;
    background: #000;
  }

  &__services {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;

    @media (max-width:992px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__category {
    max-width: 453px;
    padding: 36px;
    background: #F5F5F5;
    border-radius: 16px;
    width: 100%;

    @media (max-width:992px) {
      max-width: 100%;
    }

    &-title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 16px;
      margin-left: -25px;
    }
  }

  &__list {
    list-style: disc;
    font-size: 22px;
  }
}