.courchevel-chalets {
  position: relative;

  &__water-mark{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }

  .container {
    text-align: center;
    margin-bottom: 38px;
    @media (max-width:992px) {
      font-size: 12px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 40px 0 80px 0;

    @media (max-width:992px) {
      grid-template-columns: repeat(1,1fr);
      width: 100%;
      border-bottom: 2px solid #585858;
      padding-bottom: 16px;
      gap: 16px;
      margin-block: 16px;
    }
  }

  &__item {
    max-width: 453px;
    overflow: hidden;

    @media (max-width:992px) {
      max-width: 100%;
      width: 100%;
    }

    .item-image {
      display: block;
      img {
        object-fit: cover;

        @media (max-width:992px) {
          width: 100%;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    &-text {
      .description {
        color: #585858;
        font-weight: 500;
        margin-top: 8px;

        @media (max-width:992px) {
          font-size: 14px;
        }
      }
    }
  }

  &__amenities {
    margin-block: 16px;
    font-size: 20px;
    color: #585858;

    @media (max-width:992px) {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 20px 14px;
    display: flex;
    gap: 12px;
    align-items: center;
    background: #000;
    justify-content: center;
    max-width: 230px;
    img {
      width: 20px;
      height: 20px;
    }

    @media (max-width:992px) {
      font-size: 12px;
    }
  }

  &__view-all {
    text-decoration: none;

    span {
      text-align: center;
      background: var(--color-1);
      padding: 24px 48px;
      border-radius: 12px;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      max-width: 409px;
      margin-inline: auto;

      @media (max-width:992px) {
        font-size: 14px;
      }
    }
  }

  &__capacity {
    border-radius: 100px;
    padding: 6px 12px;
    background: #EEEEEE;
    font-weight: 600;
    display: grid;
    place-items: center;
    max-width: 102px;
    max-height: 32px;

    p {
      color: #585858;
      font-weight: 600;

      @media (max-width:992px) {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  &__details {
    text-align: start;
    margin-top: 16px;
  }
}

