.courchevel-areas {
  max-width: 1920px;
  background:#F5F5F5;
  margin-inline: auto;
  margin-block: 100px;

  .container {
    max-width: 1440px;
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: center;
    @media (max-width:992px) {
      flex-direction: column;
    }
  }

  &__area {
    width: 100%;
    max-width: 324px;
    text-align: center;
    position: relative;
    padding: 24px;
    &-title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 12px;

      @media (max-width:992px) {
        font-size: 16px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 80px;
      width: 2px;
      background: rgb(0, 0, 0 , 0.5);

      @media (max-width:992px) {
        width: 80px;
        height: 2px;
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translate(-50%);
      }
    }

    &:last-child::before {
      display: none;
    }

    @media (max-width:992px) {
      max-width: 100%;
    }
  }
}