.courchevel-areas {
  max-width: 1920px;
  background:#F5F5F5;
  margin-inline: auto;
  margin-block: 100px;

  .container {
    max-width: 1440px;
    margin-inline: auto;
    text-align: center;
    padding: 0;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: center;
    @media (max-width:992px) {
      flex-direction: column;
    }
  }

  &__area {
    max-width: 324px;
    text-align: center;
    position: relative;
    padding: 24px;
    &-title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    &-description {
      font-size: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 80px;
      width: 2px;
      background: #000;
    }

    &:last-child::before {
      display: none;
    }
  }
}