.courchevel-inspirations {
  max-width: 1920px;
  margin-inline: auto;
  background: #F5F5F5;;

  .container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;

    @media (max-width:992px) {
      padding-inline: 24px;
    }
  }

  &__header {
    text-align: center;
  }

  &__description {
    font-size: 24px;
    color:#585858;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(1,1fr);
      place-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  &__card {
    max-width: 453px;
    overflow: hidden;

    &-image {
      display: block;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
      @media (max-width:992px) {
        border-radius: 0;
      }
    }

    @media (max-width:992px) {
      padding: 16px;
      background: #D8E4EE;
      max-width: 100%;
    }
  }

  &__date {
    font-size: 14px;
    color:#585858;
    font-weight: 600;
  }

  &__article-title {
    font-size: 18px;
    font-weight: 600;
  }

  &__excerpt {
    color: #585858;
  }

  &__read-more {
    width: 140px;
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    background: #5A98C0;
    transition: all 0.3s ease-in;
    &:hover {
      background: #000;
    }
    @media (max-width:992px) {
      display: none;
    }
  }
}