.destination {
  background-color: #F8F8F8;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .section-title {
    margin-bottom: 80px;

    @media (max-width: 992px) {
      margin-bottom: 24px;
    }
  }
}

.destination__content {
  display: grid;
  gap: 30px;
  align-items: center;

  @media (max-width: 1200px) {
    gap: 12px;
  }
}

.destination__text-content {
  display: grid;
  grid-template-columns: 1fr 294px;
  gap: 32px;
  max-width: 720px;

  @media (max-width: 1200px) {
    gap: 16px;
    grid-template-columns: 400px;
  }

  @media (max-width: 800px) {
    gap: 16px;
    grid-template-columns: 190px;
  }
}

.destination__title,
.destination__subtitle {
  font-size: 40px;
  font-weight: 500;
  color: var(--color-1);
  line-height: 1.2;
  margin: 0;

  @media (max-width: 1200px) {
    font-size: 36px;
  }

  @media (max-width: 992px) {
    font-size: 20px;
  }
}


.destination__titles {
  display: flex;
  flex-direction: column;

  .btn {
    margin-top: auto;
  }

  @media (max-width: 1200px) {
    display: contents;

    .btn {
      order: 2;
    }
  }
}

.destination__subtitle {
  display: block;
  position: relative;
  padding-bottom: 24px;
  margin-top: 4px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-1);
  }

  @media (max-width: 1200px) {
    padding-bottom: 8px;
    margin-top: 2px;

    &::after {
      width: 50px;
      height: 1px;
    }
  }
}

.destination__description {
  font-size: 24px;
  color: #585858;
  line-height: normal;
  margin: 0;

  @media (max-width: 1200px) {
    font-size: 18px;
    margin-block: 8px;
  }

  @media (max-width: 992px) {
    font-size: 12px;
    margin-block: 8px;
  }
}

.destination__images {
  position: relative;
  width: 100%;
}

.btn--solid--primary {
  padding-inline: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    font-size: 28px;

  }

  @media (max-width: 992px) {
    font-size: 12px;

    img {
      width: 9px;
    }
  }
}

.destination__image {
  border-radius: 16px;
  display: block;
  object-fit: cover;

  @media (max-width: 992px) {
    border-radius: 12px;
  }
}

.destination__image--main {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.destination__image--small {
  position: absolute;
  width: 618px;
  height: 463px;
  right: 60px;
  top: -291px;
  z-index: 2;
  box-shadow: 0px 12px 50px 0px #00000040;

  @media (max-width: 1500px) {
   width: 500px;
   object-fit: cover;
  }

  @media (max-width: 1340px) {
    width: 400px;
    object-fit: cover;
  }

  @media (max-width: 992px) {
    width: 390px;
    height: 343px;
    object-fit: cover;
    top: -180px;
    right: 12px;
    border-radius: 8px;
  }

  @media (max-width: 800px) {
    width: 390px;
    height: 243px;
    object-fit: cover;
    top: -200px;
    right: 12px;
    border-radius: 8px;
  }

  @media (max-width: 600px) {
    width: 190px;
    height: 143px;
    object-fit: cover;
    top: -119px;
    right: 12px;
    border-radius: 8px;
  }

  @media (max-width: 450px) {
    width: 130px;
  }
}

