.singature-destination {
  background: #F5F5F5;

  &__body {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
  }

  &__content {
    max-width: 385px;
  }

  &__btn {
    background: var(--color-1);
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 24px;
    max-width: max-content;
  }

  .secondary-title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 12px;
    position: relative;
    color: var(--color-1);
    font-weight: 500;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60px;
      height: 2px;
      background: var(--color-1);
    }
  }

  &__description {
    margin-block: 24px;
    line-height: 1.5;
  }

  &__gallery {
    display: flex;
    position: relative;
    margin-right: -60px;

    @media (max-width: 1200px) {
      margin-inline: -20px;
    }

    @media (max-width: 768px) {
      justify-content: flex-start;
      overflow-x: auto;
    }
  }

  @media (max-width: 992px) {
    &__body {
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 16px;
    }
  }

  @media (max-width: 768px) {
      &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .secondary-title {
      font-size: 16px;
      padding-bottom: 6px;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__description {
      margin-block: 16px;
      font-size: 12px;
    }
  }
}