.details--services {
  background: none;
  position: relative;
  overflow: hidden;

  .details__list {
    gap: 168px;
    @media (max-width:768px) {
      gap: 42px;
    }
  }

  img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  @media (max-width:768px) {
  .details__title {
      font-size: 14px;
    }
  }
}