.details {
  .key-features-title {
    &::after {
      width: 482px;
    }
  }

  .key-features__list ul li {
    gap: 28px;
  }
  &-content {
   span {
    width: 482px;

      @media (max-width:768px) {
        width: 176px;
      }
   }
  }
  &__title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  &__list {
    gap: 24px;
    padding-right: 10px;
    ul {
      max-width: 464px;

      li {
        font-size: 20px;
        font-weight: 400;

        @media (max-width:768px) {
          font-size: 12px;
        }

        span {
         background: none;
         width: 36px;
         height: 36px;
         padding: 0;
         display: block;

         svg path{
          fill: var(--color-2);
         }
         @media (max-width:768px) {
          width: 20px;
          height: 20px;
         }
       }
      }
    }
  }

  &__garllery {
    display: flex;
    margin-top: 48px;
    gap: 24px;
    justify-content: space-between;
    padding-right: 24px;

    @media (max-width:992px) {
      flex-direction: column;
      justify-content: center;
    }
  }
}