.features-highlight {
  margin-inline: auto;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (max-width:992px) {
      gap: 16px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
    place-items: center;

    @media (max-width:768px) {
      grid-template-columns: repeat(1,1fr);
    }
  }

  &__item {
    max-width: 704px;
    padding: 40px;
    border-radius: 16px;
    background: #F5F5F5;

    @media (max-width:992px) {
      text-align: center;
      padding: 12px;
      &:first-child {
        grid-row: 3;
      }

      &:last-child {
        grid-row: 2;
      }

      &:nth-child(3) {
        grid-row: 1;
      }
    }
  }

  &__icon-box {
    max-width: 64px;
    max-height: 64px;

    svg path {
      fill: var(--color-1);
    }

    @media (max-width:992px) {
      margin-inline: auto;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-block: 16px;

    @media (max-width:768px) {
      font-size: 16px;
      margin-block: 8px;
    }
  }

  &__description {
    font-size: 22px;
    font-weight: 400;
    @media (max-width:768px) {
      font-size: 12px;
    }
  }

  &__showcase {
    max-width: 1440px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}