.featured-services {
  max-width: 1920px;
  margin-inline: auto;
  background: var(--services-intro-content-background);

  .container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-block: 100px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    h4 {
      color: #fff;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;

    @media (max-width:1440px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    width: 100%;
    max-width: 464px;
    padding: 24px;
    background: #fff;
    border-radius: 16px;

    @media (max-width:992px) {
      max-width: 100%;
    }

    img {
      width: 416px;
      height: 400px;
      object-fit: cover;
      max-width: 100vw;

      @media (max-width:992px) {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__content {
    text-align: center;
    padding: 32px 8px 8px 8px;
    h6 {
      font-size: 28px;
      font-weight: 600;
    }

    p {
      font-size: 18px;
    }
  }
}