.featured-services {
  background: var(--services-intro-content-background);

  .container {
    .section-title {
      color: #fff;
      margin-bottom: 48px;
      &::after {
        background: #fff;
      }
    }
  }

  &__body {
    display: flex;
    align-items: stretch;
    gap: 24px;
    justify-content: center;

    @media (max-width:1440px) {
      flex-wrap: wrap;
    }

    @media (max-width: 992px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 0 20px 20px;
      margin: 0 -20px;

      &::-webkit-scrollbar { display: none; }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  &__card {
    width: 100%;
    max-width: 586px;
    padding: 24px;
    background: #fff;
    border-radius: 16px;
    min-height: 604px;

    @media (max-width: 992px) {
      flex: 0 0 85%;
      max-width: 350px;
      min-height: auto;
      scroll-snap-align: start;
      padding: 16px;
    }

    a {
      display: block;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
        @media (max-width:992px) {
          width: 100%;
          max-width: 100%;
          max-height: fit-content;
        }
      }
    }
  }

  &__content {
    text-align: center;
    padding: 32px 8px 8px 8px;

    h6 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    p {
      font-size: 18px;
    }

    @media (max-width: 992px) {
      padding: 16px;

      p {
        font-size: 12px;
      }

      h6 {
        font-size: 16px;
      }
    }
  }
}