@use "../components/filters-modal" as *;

.filters {
  @media (max-width: 992px) {
    padding-inline: 20px;
  }

  .section-title  {
    &::after {
      background: var(--black-to-white);
    }

    @media (max-width:992px) {
      display: none;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    background: var(--portfolio-background);
    padding-block: 32px;
    border-radius: 16px;
    margin-block: 40px;
  }

  &__header {
    text-align: center;
    max-width: 1100px;
    padding-inline: 20px;
    margin-inline: auto;
    color: var(--black-to-white);
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    margin-block: 24px;

    @media (max-width:992px) {
      display: none;
    }
  }

  &__subtitle {
    display: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 12px;

    @media (max-width:992px) {
      display: block;
    }
  }

  &__filter-group {
    margin-bottom: 24px;
    border-bottom: 1px solid;
    padding-block: 24px;

    &__title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    @media (max-width:992px) {
      padding-block: 12px;
      margin-block: 12px;

      &__title {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
  }

  &__filter-subgroup {
    margin-bottom: 24px;

    p {
      margin-bottom: 12px;
      font-size: 18px;

      @media (max-width:992px) {
        font-size: 12px;
        margin-bottom: 4px;
      }
    }

    @media (max-width:992px) {
      margin-bottom: 12px;
    }

    select {
      width: 100%;
      border: 1px solid #585858;
      height: 40px;
      padding: 10px 12px;
      border-radius: 4px;
    }
  }

  &__price-range {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;

    &__text {
      display: flex;
      justify-content: space-between;
      width: 800px;

      @media (max-width:992px) {
        width: 100%;
      }

      span {
        font-size: 18px;
        color: #666;
        min-width: 60px;
        font-weight: 500;
        @media (max-width:992px) {
          font-size: 12px;
        }
      }
    }

    input[type="range"] {
      flex: 1;
      width: 800px;
      -webkit-appearance: none;
      background: var(--color-1);
      outline: none;
      opacity: 0.7;
      border-radius: 16px;
      max-height: 10px;
      @media (max-width:992px) {
        width: 100%;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #fff;
        cursor: pointer;
        border-radius:50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15),0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(255, 255, 255, 0.5) inset;
      }

      &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #fff;
        cursor: pointer;
         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15),0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
      }
    }
  }
  
  &__clear-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    text-decoration: underline;

    @media (max-width:992px) {
      font-size: 14px;
    }
  }
  &__search-btn {
    background: #5a98c0;
    color: #fff;
    border: none;
    padding: 16px 40px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__property-group {
    label {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 42px;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    transition: border-color 0.3s;
    border-radius: 8px;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

    }
    label:has(input[type="checkbox"]:checked) {
    background-color: var(--color-1);
  }
  }
}

.filters__content {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid var(--black-to-white);
  padding-top: 24px;
}

.filters__input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black-to-white);

    @media (max-width:992px) {
      font-size: 10px;
    }
  }

  input, select {
    background: #fff;
    padding: 12px 16px;
    width: 298px;
    border: 0;
    color: #2C2C2C;
    font-size: 16px;
  
    @media (max-width:992px) {
      font-size: 12px;
    }
  
    @media (max-width:400px) {
      width: 100%;
    }
  }
}

.filters__buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 16px;

  button {
    background: var(--color-1);
    padding: 12px;
    border-radius: 4px;
    display: grid;
    place-items: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
