.filters-panel {
  @media (max-width: 992px) {
    padding-inline: 20px;
  }

  .section-title  {
    &::after {
      background: var(--black-to-white);
    }

    @media (max-width:992px) {
      display: none;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    background: var(--portfolio-background);
    padding-block: 32px;
    border-radius: 16px;
    margin-block: 40px;
  }

  &__header {
    text-align: center;
    max-width: 1100px;
    padding-inline: 20px;
    margin-inline: auto;
    color: var(--black-to-white);
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    margin-block: 24px;

    @media (max-width:992px) {
      display: none;
    }
  }

  &__subtitle {
    display: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 12px;

    @media (max-width:992px) {
      display: block;
    }
  }

  &__inputs {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid var(--black-to-white);
    padding-top: 24px;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--black-to-white);

        @media (max-width:992px) {
          font-size: 10px;
        }
      }
    }

    &-values {
      background: #fff;
      padding: 12px 16px;
      width: 298px;
      border: 0;
      color: #2C2C2C;
      font-size: 16px;

      @media (max-width:992px) {
        font-size: 12px;
      }

      @media (max-width:400px) {
        width: 100%;
      }
    }

    &-selection {
      position: relative;
      select {
        padding-left: 40px;
      }
      button {
        position: absolute;
        top: 12px;
        left: 16px;

        @media (max-width:992px) {
          top: 10px;;
        }
      }
    }

    @media (max-width:992px) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 16px;
    button {
      padding: 12px;
      border-radius: 4px;
      display: grid;
      place-items: center;
      background: var(--color-1);

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__filter-modal {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    max-height: 47vh;
    display: none;
    position: absolute;
    top: 148px;
    right: 20px;
    z-index: 999;
    padding-block: 32px;

    @media (max-width:992px) {
      left: 50%;
      right: auto;
      top: 14%;
      transform: translate(-50%);
      width: 88%;
      max-height: max-content;
    }

    &.is-open {
      display: block;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    &__close {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 99;
    }

    &__body {
      padding: 20px;
      overflow-y: auto;
      background: #fff;
      max-height: 47vh;
      position: relative;

      @media (max-width:992px) {
        max-height: 100vh;
      }
    }

    &__footer {
      padding: 16px 20px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #eee;
      background: #fff;
    }
  }

  &__filter-group {
    margin-bottom: 24px;
    border-bottom: 1px solid;
    padding-block: 24px;

    &__title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 24px;
    }
      @media (max-width:992px) {
        padding-block: 12px;
        margin-block: 12px;

       &__title {
         font-size: 16px;
         margin-bottom: 12px;
       }
      }
  }

  &__filter-subgroup {
    margin-bottom: 24px;

    p {
      margin-bottom: 12px;
      font-size: 18px;

      @media (max-width:992px) {
        font-size: 12px;
        margin-bottom: 4px;
      }
    }

    @media (max-width:992px) {
      margin-bottom: 12px;
    }
  }
  &__price-range {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;

    &__text {
      display: flex;
      justify-content: space-between;
      width: 800px;

      @media (max-width:992px) {
        width: 100%;
      }

      span {
        font-size: 18px;
        color: #666;
        min-width: 60px;
        font-weight: 500;
        @media (max-width:992px) {
          font-size: 12px;
        }
      }
    }

    input[type="range"] {
      flex: 1;
      width: 800px;
      -webkit-appearance: none;
      background: var(--color-1);
      outline: none;
      opacity: 0.7;
      border-radius: 16px;
      max-height: 10px;
      @media (max-width:992px) {
        width: 100%;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #fff;
        cursor: pointer;
        border-radius:50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15),0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(255, 255, 255, 0.5) inset;
      }

      &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #fff;
        cursor: pointer;
         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15),0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
      }
    }
  }

  &__pill-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__pill {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 18px;
    cursor: pointer;

    &.active {
      background:var(  --color-1);
      color: #fff;
    }

    @media (max-width:992px) {
      font-size: 12px;

      &-hide {
        display: none;
      }
    }
  }

  .filters-panel__pill-mobile {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: none;

    @media (max-width:992px) {
      display: block;
    }
    .dropdown-state {
      display: none;

      // When checkbox is checked, show the options
      &:checked + .custom-select-trigger + .custom-options {
        display: block;
      }

      // Optional: Rotate arrow when open
      &:checked + .custom-select-trigger .arrow {
        transform: rotate(180deg);
      }
    }

  .custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #585858;
    font-size: 16px;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    user-select: none;

    // .arrow {
      
    // }
  }

  .custom-options {
    display: none; // Hidden until checkbox is checked
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; // CRITICAL: This keeps it from overflowing the screen
    background: white;
    border: 1px solid #585858;
    border-top: none;
    z-index: 999;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;

    li {
      label {
        display: block;
        padding: 12px 16px;
        cursor: pointer;
        white-space: normal; // Prevents the text from pushing the width out
        word-wrap: break-word; // Breaks long words

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
  }
  &__checkbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 16px;

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }

    label {
      font-size: 18px;
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;

      @media (max-width:992px) {
        font-size: 12px;
      }
    }
  }
  &__clear-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    text-decoration: underline;

    @media (max-width:992px) {
      font-size: 14px;
    }
  }
  &__search-btn {
    background: #5a98c0;
    color: #fff;
    border: none;
    padding: 16px 40px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__property-group {
    label {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 42px;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    transition: border-color 0.3s;
    border-radius: 8px;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

    }
    label:has(input[type="checkbox"]:checked) {
    background-color: var(--color-1);
  }
  }
}