.footer {
  max-width: 1920px;
  margin-inline: auto;
  padding: 100px 0 48px 0;
  background: var(--color-1);

  @media (max-width:765px) {
    padding: 20px 0 20px 0;
  }

  &__booking {
    max-width: 1440px;
    background: var(--footer-container-background);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 64px;
    gap: 40px;

    .section-title {
      color: #FFF;

      &::after {
        background: #fff;
      }
    }
    &-description {
      font-size: 24px;
      font-weight: 400;
      text-align: center;

      @media (max-width: 765px) {
        display: none;
      }
    }

    @media (max-width:765px) {
      padding: 16px;
      gap: 16px;
    }
  }

  &-form {
    width: 100%;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media (max-width: 765px) {
        gap: 8px;
      }

      &-item {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 22px 32px;
        gap: 12px;
        width: 100%;

        @media (max-width: 765px) {
          padding: 12px;
        }
      }

      &-row {
        display: flex;
        gap: 16px;

        @media (max-width: 765px) {
          gap: 8px;
        }
      }
    }

    &__textfield {
      width: 100%;
      border: none;
      outline: none;
      font-size: 20px;
      padding: 20px 32px;
      border-radius: 8px;
    }

    &__submit {
      width: 100%;
      background: var(--color-5);
      color: #fff;
      font-size: 20px;
      padding: 20px 32px;
      border-radius: 8px;
      cursor: pointer;

      @media (max-width:765px) {
        padding: 12px;
        font-size: 12px;
      }
    }
  }

  input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
  }

  &-bottom {
    display: flex;
    color: #FFF;
    margin-top: 65px;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF;
    gap: 50px;
    justify-content: space-around;

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: start;
      gap: 16px;
      margin-top: 24px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      gap: 60px;
      max-width: 400px;
      width: 100%;

      @media (max-width: 992px) {
        grid-column: 1;
        grid-row: 1;
        gap: 16px;
      }

      &-logo {

        img {
          width: 180px;
        }

        &___text{
          font-size: 24px;
          margin-top: 24px;
          text-transform: capitalize;

          @media (max-width:765px) {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      &-contact {
        p {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }
    }

    &__socials {
        display: flex;
        gap: 16px;
        margin-top: 12px;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        overflow: hidden;

        svg {
          width: 100%;
          height: 100%;
        }

        &:nth-child(1), &:nth-child(2) {
          border-radius: 50%;
        }

        &:nth-child(1) {
          padding: 6px;
          background-color: #fff;
        }

        &:nth-child(3) {
          padding: 3.5px;
          border-radius: 4px;
          background-color: #fff;
        }

        &:nth-child(4) {
          padding: 4.5px;
          background-color: #fff;
        }
      }
    }

    &__right {
      display: flex;
      gap: 64px;

      @media (max-width: 992px) {
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-content: space-between;
        gap: 27px;
      }

      @media (max-width:432px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &-list {
        max-width: 320px;
        width: 100%;

        @media (max-width:432px) {
          text-align: center;
        }
        h6 {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 20px;

          @media (max-width:992px) {
            font-size: 16px;
            font-weight: 500;
          }
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 12px;

          @media (max-width:432px) {
            align-items: center;
          }
        }

        li {
          a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 20px;
            display: flex;
            gap: 5px;
            &:hover {
              text-decoration: underline;
            }

            @media (max-width:992px) {
              font-size: 11px;
              font-weight: 600;
            }
          }
        }

        &__contactInfo {
          li {
            display: flex;
            align-items: center;
            gap: 12px;

            @media (max-width:992px) {
              font-size: 11px;
              font-weight: 600;
            }
            span {
              svg {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }

    &__partner {
      display: flex;
      gap: 24px;
      @media (max-width: 992px) {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  &-copyRight {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    margin-top: 40px;

    @media (max-width:765px) {
      font-size: 10px;
      font-weight: 500;
    }
  }
}