.footer {
  max-width: 1920px;
  margin-inline: auto;
  padding: 100px 0 48px 0;
  background: #5A98C0;

  &__booking {
    max-width: 1440px;
    background: #11517c;
    backdrop-filter: blur(12px);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 64px;
    gap: 40px;

    &-title {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }

    span {
      width: 70px;
      height: 2px;
      background-color: #fff;
      display: block;
    }

    &-description {
      font-size: 24px;
      font-weight: 400;
      text-align: center;

      @media (max-width: 765px) {
        display: none;
      }
    }
  }

  &-form {
    width: 100%;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-item {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 22px 32px;
        gap: 12px;
        width: 100%;
      }

      &-row {
        display: flex;
        gap: 16px;
      }
    }

    &__textfield {
      width: 100%;
      border: none;
      outline: none;
      font-size: 20px;
      padding: 20px 32px;
      border-radius: 8px;
    }

    &__submit {
      width: 100%;
      background: #B78A67;
      color: #fff;
      font-size: 20px;
      padding: 20px 32px;
      border: 0.5px solid #B78A67;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #5A98C0;
      }
    }
  }

  input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
  }

  &-bottom {
    display: flex;
    align-items: center;
    color: #FFF;
    margin-top: 65px;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFFFFF;
    gap: 50px;
    justify-content: space-around;

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: start;
    }

    &__left {
      display: flex;
      flex-direction: column;
      gap: 60px;
      @media (max-width: 992px) {
        grid-column: 1;
        grid-row: 1;
      }

      &-logo {

        &___text{
          font-size: 24px;
          margin-top: 24px;
        }
      }

      &-contact {
        p {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }
    }

    &__socials {
        display: flex;
        gap: 16px;
        margin-top: 12px;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        overflow: hidden;

        svg {
          width: 100%;
          height: 100%;
        }

        &:nth-child(1), &:nth-child(2) {
          border-radius: 50%;
        }

        &:nth-child(1) {
          padding: 6px;
          background-color: #fff;
        }

        &:nth-child(3) {
          padding: 3.5px;
          border-radius: 4px;
          background-color: #fff;
        }

        &:nth-child(4) {
          padding: 4.5px;
          background-color: #fff;
        }
      }
    }

    &__right {
      display: flex;
      gap: 64px;

      @media (max-width: 992px) {
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-content: space-between;
      }

      &-list {
        h6 {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 12px;
        }

        a {
          text-decoration: none;
          color: #FFFFFF;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__partner {
      display: flex;
      gap: 24px;
      @media (max-width: 992px) {
        grid-column: 1 / span 2;
        grid-row: 2;
      }
    }
  }

  &-copyRight {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    margin-top: 40px;
  }
}