.founder-note {
  .container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 80px;

    @media (max-width:1040px) {
      flex-direction: column-reverse;
      gap: 16px;
      padding-block: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-width: 650px;

    @media (max-width:1040px) {
      align-items: center;
    }

    .section-title {
      &::after {
        left: 0;
        transform: translateX(0);

        @media (max-width:992px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    a {
      text-decoration: none;
      color: var(--color-1);

      @media (max-width:992px) {
        font-size: 12px;
      }
    }
  }

  &__body {
    font-size: 24px;
    text-align: start;

    @media (max-width:992px){
      font-size: 12px;
      text-align: center;
    }
    p {
      font-style: italic;
      margin-bottom: 20px;
    }
  }
  &__media {
    max-width: 710px;
  }
}