.founder-note {
  position: relative;

  .founder-note-watermark {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
  .container {
    display: flex;
    align-items: center;
    gap: 80px;

    @media (max-width:1040px) {
      flex-direction: column-reverse;
      gap: 16px;
      padding-block: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    max-width: 650px;

    @media (max-width:1040px) {
      align-items: center;
    }

    .section-title {
      &::after {
        left: 0;
        transform: translateX(0);

        @media (max-width:992px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--color-1);
      font-size: 16px;
      font-weight: 600;

      @media (max-width:992px) {
        font-size: 12px;
      }
    }

    @media (max-width:992px) {
      gap: 12px;
    }
  }

  &__body {
    font-size: 16px;
    text-align: start;

    @media (max-width:992px){
      font-size: 12px;
      text-align: center;
    }

    p {
      font-style: italic;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width:992px) {
        font-size: 12px;
        margin-bottom: 12px;
      }
    }
  }
  &__media {
    max-width: 426px;

    @media (max-width: 500px) {
      aspect-ratio: 392/368;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .founder-note__signature {
    @media (max-width: 768px) {
      br {
        display: none;
      }
    }
  }
}