.founder-note {
  max-width: 1920px;
  margin-inline: auto;

  .container {
    max-width: 1440px;
    margin-inline: auto;
    padding-block: 100px;
    display: flex;
    align-items: center;
    gap: 80px;

    @media (max-width:1040px) {
      flex-direction: column-reverse;
      gap: 16px;
      padding-block: 24px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-width: 650px;
    @media (max-width:1040px) {
      align-items: center;
    }
    .divider {
      background: #000;
    }
    a {
      text-decoration: none;
      color: var(--color-1);
    }
  }

  &__body {
    font-size: 24px;
    text-align: center;

    @media (max-width:992px){
      font-size: 12px;
    }
    p {
      font-style: italic;
      margin-bottom: 20px;
    }
  }

  &__media {
    max-width: 710px;
  }
}