.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 1200px;

  @media (max-width: 992px) {
    min-height: 781px;
  }
}

.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  margin-bottom: 24px;
}

.hero__title-mobile, .hero__description-mobile {
  display: none;
}


@media (max-width: 992px) {
  .hero__title.hero__title-desktop.for-winter,
  .hero__title.hero__title-desktop.for-summer {
    display: none !important;
  }

  .hero__title.hero__title-mobile,.hero__title-mobile {
    display: block !important;
  }
}

.hero__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  margin-bottom: 48px;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

@media (max-width:992px) {
  .hero__description-secondary.for-winter,
  .hero__description-secondary.for-summer{
    display: none !important;
  }

  .hero__description-mobile {
    display: block;
  }
}

.hero__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero__partner-action {
  display: none;

  @media (max-width:992px) {
    display: block;
  }
}
@media (max-width: 992px) {
  .hero {
    min-height: 80vh;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero__title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .hero__description {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .hero__actions {
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
  }

  .hero__actions .btn {
    width: 100%;
    justify-content: center;
    padding-inline: 0;

    svg, img {
      width: 16px;
    }
  }
}

