.how-works {
  &__steps {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 64px;

    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 370px;
    position: relative;

    p {
      font-size: 28px;
      font-weight: 400;
      text-align: center;

      @media (max-width: 992px) {
        font-size: 14px;
      }
    }

    @media (max-width: 992px) {
      padding-bottom: 92px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  
  &__step-icon {
    width: 204px;
    height: 204px;
    margin-bottom: 64px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
      width: 116px;
      height: 115px;
      margin-bottom: 12px;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: var(--color-1);
      font-weight: 700;
      font-size: 28px;
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 992px) {
        width: 24px;
        height: 24px;
        font-size: 14px;
      }
    }

    &::before {
      content: "";
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='204' height='204' viewBox='0 0 204 204' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='203' height='203' rx='101.5' stroke='%23828282' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
      display: block;
      position: absolute;
      top: 0;
      background-size: contain;
    }

    &::after {
      content: "";
      width: calc(100% - 24px);
      height: calc(100% - 24px);
      background-color: #fff;
      display: block;
      position: absolute;
      top: 12px;
      left: 12px;
      border-radius: 50%;
      box-shadow: 0px 0px 12px 0px #00000026;
      z-index: -1;
    }

    svg {
      @media (max-width: 992px) {
        max-width: 36px;
      }
    }
  }

  &__step-line {
    max-width: 306px;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 100%;
    transform: translateX(-22%);
    top: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='309' height='41' viewBox='0 0 309 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M307.5 39.5C259.858 14.6922 207.709 1.5 154.373 1.5C101.132 1.5 49.0735 14.6451 1.50031 39.3673' stroke='black' stroke-width='3' stroke-linecap='round' stroke-dasharray='12 12'/%3E%3C/svg%3E%0A");

    @media (max-width: 1470px) {
      max-width: 200px;
      left: 105%;
    }

    @media (max-width: 1360px) {
      display: none;
    }

    @media (max-width: 992px) {
      display: block;
      bottom: 0;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
      width: 22px;
      height: 80px;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='82' viewBox='0 0 23 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 0.750125C4.22162 13.2056 0.750001 26.8394 0.75 40.7835C0.749999 54.7026 4.20924 68.3127 10.7151 80.7501' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-dasharray='4 4'/%3E%3C/svg%3E%0A");
    }
  }

  &__step:nth-child(2) &__step-line {
    transform: rotateX(-180deg) translateX(-70px);
    top: 102px;

    @media (max-width: 1470px) {
      transform: rotateX(-180deg);
      left: 95%;
    }

    @media (max-width: 992px) {
      display: block;
      bottom: 0;
      top: auto;
      left: 50%;
      transform: translateX(-50%);
      width: 22px;
      height: 80px;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='82' viewBox='0 0 23 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0.750125C18.5284 13.2056 22 26.8394 22 40.7835C22 54.7026 18.5408 68.3127 12.0349 80.7501' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-dasharray='4 4'/%3E%3C/svg%3E%0A");
    }
  }

  .btn {
    margin-inline: auto;
    display: block;
    width: max-content;
    margin-top: 64px;

    @media (max-width: 992px) {
      margin-top: 32px;
    }
  }
}
