.information {
  &.key-features {
    background: none;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }

  .key-features__list {
    @media (max-width:768px) {
      flex-direction: column;
      gap: 0;
    }

    ul
      li {
        font-size: 20px;
        font-weight: 400;

        @media (max-width:768px) {
          font-size: 12px;
        }

        span {
          padding: 0;
          background: none;
          width: 24px;
          height: 24px;
          display: block;
          svg path {
            fill: var(--color-2);
          }
        }
    }
  }

  h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;

    @media (max-width:992px) {
      font-size: 14px;
      margin-bottom: 16px;
    }

    @media (max-width:340px) {
      text-align: center;
    }
  }

  .key-features-title {
    &::after {
      width: min(610px, 100vw - 32px);

      @media (max-width:790px) {
       width: 500px;
      }

      @media (max-width:722px) {
       width: 380px;
      }

      @media (max-width:598px) {
       width: 220px;
      }
    }
  }
}