.location-context {
  .key-features__list {
    flex-direction: column;
    gap: 16px;
    padding-right: 24px;
  
    ul
      li {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 16px;
      
        span {
          padding: 0;
          background: none;
          width: 24px;
          height: 24px;
          display: block;

          svg path {
            fill: var(--color-2);
          }
        }

        @media (max-width:992px) {
          font-size: 12px;
        }
    }
  }

  .key-features__content {
    span {
      width: 558px;

      @media (max-width:768px) {
        width: 210px;
      }
    }
  }

  &__subTitle {
    font-size: 24px;
    font-weight: 600;

    @media (max-width:992px) {
      font-size: 14px;
    }

    @media (max-width:340px) {
      text-align: center;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    margin: 14px 0 16px 0;

    @media (max-width:992px) {
      font-size: 12px;
    }
  }
}

.location-context__map iframe {
  height: 410px;

  @media (max-width: 768px) {
    height: 190px;
  }
}