.partner-services {
  position: relative;
  z-index: 2;
  overflow: hidden;
  .container {
    max-width: 1440px;

    .section-title {
      padding: 0;
      margin-bottom: 12px;
      &::after {
        display: none;
      }
    }
  }

  &__header {
    margin-bottom: 40px;
  }

  &__subheadline {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    text-align: center;
    padding-bottom: 28px;

    &::after {
      content: "";
      width: 100px;
      height: 3px;
      background-color: #000;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: 992px) {
      font-size: 20px;
      padding-bottom: 12px;

      &::after {
        height: 1px;
        width: 50px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    place-items: center;
    position: relative;
    z-index: 3;
    @media (max-width:992px) {
      grid-template-columns: 1fr;
      gap: 12px;
    }
  }

  &__item {
    position: relative;
    z-index: 4;
    background-color: #ffffff;
    width: 100%;
    max-width: 453px;
    box-shadow: 4px 4px 24px 0px #0000001A;
    padding: 64px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;

    @media (max-width:992px) {
      padding: 16px;
      border-radius: 8px;
      max-width: 100%;
      align-items: center;
      text-align: center;
      gap: 12px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;

    @media (max-width:992px) {
      font-size: 16px;
    }
  }

  &__description {
    font-size: 22px;
    font-weight: 400;
    font-style: italic;

    @media (max-width:992px) {
      font-size: 16px;
    }
  }

  &__icon-wrapper {
    svg path {
      fill: var(--color-6);
    }
  }

  &__water-mark {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
  }
}