.partner-process {
  background: #F5F5F5;

  .container {
    .section-title {
      margin-bottom: 32px;
      @media (max-width:992px) {
        margin-bottom: 12px;
      }
    }
  }

  &__layout {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width:992px) {
      gap: 16px;
    }
  }

  &__media {
    max-width: 1440px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    @media (max-width: 500px) {
      aspect-ratio: 392/300;
    }
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media (max-width:992px) {
      grid-template-columns: repeat(1,1fr)
    }
  }

  &__step {
    max-width: 392px;
    padding-inline: 40px 16px;
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      border-right: 1px solid #D1D1D1;

      @media (max-width:992px) {
        border-bottom: 1px solid #D1D1D1;
      }
    }

    
    @media (max-width:992px) {
      border: none;
      padding-bottom: 12px;
      padding-inline: 28px 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 8px;

      @media (max-width:992px) {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 1.4;

      @media (max-width:992px) {
        font-size: 12px;
      }
    }

    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      font-size: 14px;
      background: var(--color-1);
      color: white;
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;

      @media (max-width:992px) {
        background: none;
        color: var(--color-1);
        width: auto;
        height: auto;
        font-size: 16px;
      }
    }

    &:nth-child(1)::before { content: "1"; }
    &:nth-child(2)::before { content: "2"; }
    &:nth-child(3)::before { content: "3"; }
    &:nth-child(4)::before { content: "4"; }
  }
}