.pillars-grid {
  background: var(--color-8);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    @media (max-width:992px) {
      gap: 16px;
    }
  }

  &__text {
    text-align: center;

    &-description {
      font-weight: 500;
      color: #fff;

      @media (max-width:992px) {
        font-size: 12px;
      }
    }
  }

  .section-title{
    color: #fff;
    margin-bottom: 12px;
    &::after {
      background: #fff;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;

    @media (max-width:1240px) {
      grid-template-columns: repeat(2,1fr);
      gap: 12px;
    }
  }

  &__card {
    max-width: 336px;
    padding: 80px 40px 40px 40px;
    background: #fff;
    border-radius: 16px;
    background: linear-gradient(
      225deg,
      #f1f1f1 0%,
      #f1f1f1 15%,
      #ffffff 15.2%,
      #ffffff 100%
    );
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

    @media (max-width:768px) {
      padding: 16px;
    }

    &-title {
      font-weight: 500;
      margin-bottom: 16px;
    }
  }
}