.plan-cards {
  background: #F5F5F5;

  .container {
    @media (max-width:992px) {
      gap: 16px;
    }
    .section-title {
      margin-bottom: 48px;

      @media (max-width:992px) {
        margin-bottom: 16px;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;

    @media (max-width:992px) {
     grid-template-columns: repeat(1,1fr);
     place-items: center;
    }
  }

  &__card {
    width: 100%;
    max-width: 453px;

    @media (max-width:992px) {
      max-width: 100%;
    }
  }

  &-logo{
    padding: 117px 123px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  &-logo__one  {
    background: linear-gradient(113.75deg, #B27F1F 0%, #FFDD00 50.96%, #F3A80A 100%);
  }

  &-logo__two {
    background: linear-gradient(113.75deg, #757575 0%, #F5F5F5 50.96%, #BDBDBD 100%);
  }

  &-logo__three{
    background: linear-gradient(113.75deg, #C1B5C4 0%, #E6E1E7 50.96%, #979199 100%);
  }

  &__body {
    padding: 32px 32px 24px 32px;
    background: #323232;
    color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    @media (max-width:992px) {
      padding: 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid #fff;
    max-width: 389px;
    padding-bottom: 40px;

    h5 {
      font-size: 28px;
      font-weight: 500;
    }

    .plan-cards__primary-descirption {
       font-size: 24px;
    }

    .plan-cards__secondary-descirption {
        font-size: 18px;
        line-height: 1.5;
    }

    @media (max-width:992px) {
      padding-bottom: 12px;
      max-width: 100%;
      .plan-cards__secondary-descirption {
        font-size: 12px;
      }
      .plan-cards__primary-descirption {
        font-size: 14px;
      }

      h5 {
        font-size: 16px;
      }
    }
  }

  &__features {
    background: #323232;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 12px;

    svg {
      width: 36px;
      height: 36px;
    }

    > * {
      border-right: 1px solid white;
      padding-right: 10px;

      &:last-child {
        border-right: none;
      }
    }
  }
}