.portfolio {
  max-width: 1920px;
  margin-inline: auto;

  @media (max-width: 992px) {
    padding-inline: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    background: var(--portfolio-background);
    padding-block: 32px;
    border-radius: 16px;
    max-width: 1440px;
    margin-block: 40px;
  }

  &__header {
    text-align: center;
    max-width: 1100px;
    padding-inline: 20px;
    margin-inline: auto;
    color: var(--black-to-white);
    p {
      font-size: 20px;
      font-weight: 400;
      margin-block: 24px;
      @media (max-width:768px) {
        display: none;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    h4 {
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;

      @media (max-width:768px) {
        font-size: 16px;
      }
    }

    span {
      width: 100px;
      height: 2px;
      background: var(--black-to-white);
      display: block;
      @media (max-width:768px) {
        display: none;
      }
    }
  }

  &__inputs {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    &-container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--black-to-white);
      }
    }

    &-values {
      background: #fff;
      padding: 12px 16px;
      width: 298px;
      border: 0;
      color: #2C2C2C;
    }

    &-selection {
      position: relative;
      select {
        padding-left: 40px;
      }
      button {
        position: absolute;
        top: 10px;
        left: 20px;
      }
    }
  }

  &-btn {

    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 16px;
    button {
      padding: 12px;
      border-radius: 4px;
      display: grid;
      place-items: center;
      background: var(--color-1);

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__filter-modal {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    max-height: 47vh;
    display: none;
    position: absolute;
    top: 148px;
    right: 20px;
    z-index: 999;
    padding-block: 32px;

    @media (max-width:992px) {
      right: 0;
      top: 100px;
    }

    &.is-open {
      display: block;
    }

    h3 {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    &__close {
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 99;
    }

    &__body {
      padding: 20px;
      overflow-y: auto;
      background: #fff;
      max-height: 47vh;
      position: relative;

      @media (max-width:992px) {
        max-height: 100vh;
      }
    }

    &__footer {
      padding: 16px 20px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #eee;
      background: #fff;
    }
  }

  &__filter-group {
    margin-bottom: 24px;
    border-bottom: 1px solid;
    padding-block: 24px;

    &__title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 12px;
    }
  }

  &__filter-subgroup {
    margin-bottom: 24px;

    p {
      margin-bottom: 12px;
      font-size: 18px;
    }
  }
  &__price-range {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;

    &__text {
      display: flex;
      justify-content: space-between;
      width: 800px;

      @media (max-width:992px) {
        width: 100%;
      }

      span {
        font-size: 12px;
        color: #666;
        min-width: 60px;
      }
    }
    input[type="range"] {
      flex: 1;
      width: 800px;

      @media (max-width:992px) {
        width: 100%;
      }
    }
  }
  &__pill-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__pill {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 13px;
    cursor: pointer;

    &.active {
      background:var(  --color-1);
      color: #fff;
    }
  }
  &__checkbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 16px;

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }

    label {
      font-size: 12px;
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;
    }
  }
  &__clear-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    text-decoration: underline;
  }

  &__search-btn {
    background: #5a98c0;
    color: #fff;
    border: none;
    padding: 16px 40px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__property-group {
    label {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 42px;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    transition: border-color 0.3s;
    border-radius: 8px;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

    }
    label:has(input[type="checkbox"]:checked) {
    background-color: var(--color-1);
  }
  }
}