.process {
  max-width: 1920px;
  margin-inline: auto;
  background: #F5F5F5;
  overflow-x: hidden;
  position: relative;
  z-index: 1;

  .container {
    max-width: 1440px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 143px;

    @media (max-width:992px) {
      gap: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      transform: translateX(-50%);
      background: linear-gradient(
        to bottom,
        var(--color-2) 0,
        var(--color-2) 228px,
        #fff 100px,
        #fff 100%
      );
      z-index: 1;

      @media (max-width:992px) {
        background: linear-gradient(
          to bottom,
          var(--color-2) 0,
          var(--color-2) 138px,
          #fff 100px,
          #fff 100%
        );
      }
    }
  }

  &__water-mark {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__icon {
    svg {
      width: 86px;
      height: 86px;
      path {
       fill: var(--color-7);
       }
    }
  }

  &__step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;

    &:nth-child(odd) {
      .process__icon {
        margin-inline: auto 38px;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: right;

      .process__icon {
         margin-inline: 38px auto;
      }
    }

    &:nth-child(1) .process__title::before { content: "1"; }
    &:nth-child(2) .process__title::before {
      content: "2";
      right: -27px;
      transform: translateX(-50%);
      left: auto;
    }
    &:nth-child(3) .process__title::before { content: "3"; }
    &:nth-child(4) .process__title::before {
       content: "4";
       right: -27px;
       transform: translateX(-50%);
       left: auto;
      }
  }

  &__content {
    width: 48.5%;
    max-width: 680px;
    padding-inline: 12px;
    .process__description {
      font-size: 24px;
      line-height: 1.5;
      @media (max-width:992px) {
         font-size: 10px;
      }
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    position: relative;
    padding-top: 60px;

    @media (max-width:992px) {
      font-size: 14px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -27px;
      transform: translateX(50%);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: var(--color-2);
      display: grid;
      place-items: center;
      color: #fff;
      font-size: 20px;
      z-index: 3;
    }
  }
}