.products {
  max-width: 1920px;
  margin-inline: auto;

   .container {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-block: 27px;
    max-width: 1440px;
    padding: 0;
  }

  &__text {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    &-count {
      padding-right: 16px;
      border-right: 1px solid #000;
    }

    &-select {
      border: none;
      padding-left: 16px;

      option {
        padding: 20px 15px;
        background: #fff;
        box-shadow: #fff;
      }
    }
  }

  &__item {
    width: 100%;
    max-width: 453px;
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
    }

    &-details {
      color: #585858;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-price {
      font-size: 14px;
      font-weight: 600;
      span {
        font-size: 20px;
      }
    }
  }

  &-fav {
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 12px;

    button, div {
      width: 52px;
      height: 52px;
      padding: 12px;
      border-radius: 12px;
    }

    button {
     background: #F5F5F5;
     text-align: center;
      font-size: 20px;
     &:nth-child(2) {
      background: #5A98C0;
      color: #fff;
     }
    }

    &-dots {
      display: flex;
      gap: 5px;
      align-items: end;
      span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #000;
      }
    }
  }
}