.services-overview {
  .container {
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    align-items: center;
    gap: 80px;

    @media (max-width:992px) {
      grid-template-columns: repeat(1,1fr);
      place-items: center;
      gap: 16px;
    }
  }

  &__content {
    max-width: 898px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    @media (max-width:992px) {
      align-items: center;
      text-align: center;
      gap: 12px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 500;

    @media (max-width:992px) {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.3;

    @media (max-width:992px) {
      font-size: 12px;
      margin-bottom: 10px;
    }

    &:last-child {
      font-style: italic;
      margin-bottom: 0;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;

    @media (max-width:992px) {
      gap: 8px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }

    &--1 { grid-column: 1 / 3;grid-row: 1 / 3; }
    &--2 { grid-row: 1 / 3; grid-column: 3 / 4; }
    &--3 { grid-column: 1 / 3; }
    &--4 { grid-column: 3 / 3;grid-row: 3; }
  }

  .section-title{
   &::after {
     left: 0;
     transform: translateX(0);
     @media (max-width:992px) {
       left: 50%;
       transform: translateX(-50%);
     }
   }
  }
}
