.services-intro {
  padding-block: 100px;
  position: relative;

  @media (max-width: 768px) {
    padding-block: 24px;
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: cover;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    background: #00000099;
    color: #fff;
    padding: 40px;
    text-align: center;

    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 12px;

      @media (max-width:992px) {
        font-size: 12px;
      }
    }
  }

  .section-title {
    margin-bottom: 12px;

    &::after {
      background: #fff;
    }
  }
}