.services-intro {
  .container {
    max-width: 1680px;
    margin-inline: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 0;
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding-inline: 24px;
    }
  }

  &__image-wrapper {
    grid-column: 1 / 10;
    grid-row: 1;
    z-index: 1;

   @media (max-width: 1200px) {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      transform: translateY(-64px);
      z-index: 99;

      img {
        border-radius: 16px;
      }
    }
  }

  &__content {
    grid-column: 6 / -1;
    grid-row: 1;
    z-index: 2;
    background: var(--services-intro-content-background);
    color: #fff;
    padding: 100px;

  @media (max-width: 1200px) {
      max-width: 100%;
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      padding: 24px;
    }

    h4 {
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 24px;

      @media (max-width: 1200px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 24px;
    }
  }
}