.text-layout{
  background: var(--services-intro-content-background);

  @media (max-width:992px) {
    background: var(--color-1)
  }

  .container {
    display: flex;
    gap: 80px;
    color: #fff;
    padding: 0;

    .section-title {
      &::after {
        display: none;
        background: #fff;

        @media (max-width:992px) {
          display: block;
        }
      }
    }

    @media (max-width:1040px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 12px;
    }
  }

  &__content {
    max-width: 1145px;
    p {
      font-size: 24px;
      margin-bottom: 15px;
      line-height: 1.5;
      &:last-child {
        font-style: italic;
        margin-bottom: 0;
      }
      @media (max-width:992px) {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }

  }
}