.btn {
  text-decoration: none;
  font-weight: 600;
  padding: 24px 46px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  font-size: 24px;

  @media (max-width: 992px) {
    padding: 12px 40px;
    border-radius: 4px;
  }
}

.btn--solid--white {
  background-color: #FFFFFF;
  color: #000;
  border: 2px solid #FFFFFF;

  @media (max-width: 992px) {
    font-size: 14px;
    border-width: 1px;
  }
}

.btn--outline-white {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding-inline: 58px;

  &:has(svg, img) {
    padding-block: 22px;

    @media (max-width: 992px) {
      padding-block: 12px;
    }
  }

  @media (max-width: 992px) {
    font-size: 14px;
    border-width: 1px;
  }
}

.btn--outline-primary {
  color: var(--color-1);
  border: 2px solid var(--color-1);

  @media (max-width: 992px) {
    font-size: 12px;
    border-width: 1px;
    border-radius: 4px;
    font-weight: 500;

  }
}

.btn--solid--primary {
  background-color: var(--color-1);
  border: 2px solid var(--color-1);
  color: #FFFFFF;

  @media (max-width: 1200px) {
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
  }
}
