.btn {
  text-decoration: none;
  font-weight: 600;
  padding: 14px 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;

  @media (max-width: 992px) {
    padding: 12px 20px;
    font-weight: 400;
  }
}

.btn--solid--white {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #000;

  @media (max-width: 992px) {
    font-size: 14px;
    border-width: 1px;
  }
}

.btn--outline-white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;

  svg, img {
    width: 20px;
  }

  @media (max-width: 992px) {
    font-size: 14px;
    border-width: 1px;
  }
}

.btn--outline-primary {
  color: var(--color-1);
  border: 1px solid var(--color-1);

  @media (max-width: 992px) {
    font-size: 12px;
    border-width: 1px;
    border-radius: 4px;
    font-weight: 500;

  }
}

.btn--solid--primary {
  background-color: var(--color-1);
  border: 2px solid var(--color-1);
  color: #FFFFFF;

  @media (max-width: 1200px) {
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
  }
}
