.filters__modal {
  width: 100%;
  max-width: 1000px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  overflow: hidden;

  @media (max-width:992px) {
    max-width: calc(100% - 40px);
  }

  &.is-open {
    display: block;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-block: 16px;

    @media (max-width:992px) {
      font-size: 16px;
    }
  }

  &-close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
  }

  &-body {
    padding: 20px;
    overflow-y: auto;
    background: #fff;
    position: relative;
    height: calc(100% - 80px);
  }

  &-footer {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    background: #fff;
    margin-top: auto;
  }
}

.filters__radio-group {
  display: flex;
  gap: 12px;

  label {
    padding: 10px 24px;
    border-radius: 100px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 18px;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    &:has(input[type="radio"]:checked) {
      background: var(--color-1);
      color: #fff;
    }

    @media (max-width:992px) {
      font-size: 12px;
    }
  }
}

.filters__checkboxes-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 16px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    width: 24px;
    height: 24px;
    accent-color: var(--color-1);
  }

  label {
    font-size: 18px;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;

    @media (max-width:992px) {
      font-size: 12px;
    }
  }

  &--cards {
    display: flex;
    gap: 12px;
    position: relative;

    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    label {
      padding: 24px;
      width: 100%;
      max-width: 220px;
      height: 160px;
      border: 1px solid #D9D9D9;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 42px;
      border-radius: 8px;

      &:has(input[type="checkbox"]:checked) {
        border-color: var(--color-1);
      }
    }
  }
}