.key-features {
  max-width: 1192px;
  margin-inline: 0 auto;
  background: #F5F5F5;

  @media (max-width:992px) {
    margin-inline: 0;
    max-width: 100%;
    padding-inline: 24px;
  }

  &__container {
    max-width: 992px;
    margin-inline: auto 0;
    padding: 60px 0 60px 40px;
    @media (max-width:992px) {
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding-inline: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 48px;
    justify-content: space-between;

    @media (max-width: 768px) {
      justify-content: space-around;
    }

    h2 {
      font-size: 36px;
      font-weight: 600;
      text-transform: uppercase;

      @media (max-width:768px) {
        font-size: 16px;
      }
    }

    span {
      width: 660px;
      height: 1px;
      background: #000;
      display: block;

      @media (max-width: 768px) {
        width: 255px;
      }
    }
  }

  &__list {
    display: flex;
    gap: 120px;

    @media (max-width:768px) {
      gap: 30px;
    }

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        gap: 24px;
        margin-bottom: 24px;

        @media (max-width:768px) {
          gap: 8px;
        }

        span {
          width: 64px;
          height: 64px;
          background: var(--key-features__icon-background);
          border-radius: 8px;
          padding: 8px;
          display: grid;
          place-items: center;

          @media (max-width: 768px) {
            width: 36px;
            height: 36px;

            svg {
              width: 15px;
              height: 15px;
            }
          }
        }

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}