.section {
  padding-block: 100px;

  @media (max-width: 992px) {
    padding-block: 24px;
  }
}

.section-title {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 28px;

  &::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 992px) {
    font-size: 20px;
    padding-bottom: 12px;

    &::after {
      height: 1px;
      width: 50px;
    }
  }
}

.container {
  width: 100%;
  padding-inline: 24px;
  max-width: calc(1440px + 48px);
  margin-inline: auto;
}

img {
  max-width: 100%;
}


.for-summer,
.for-winter {
  display: none !important;
}

.color-scheme-winter .for-winter {
  display: block !important;
}

.color-scheme-summer .for-summer {
  display: block !important;
}

.hide-on-desktop {
  display: none;

  @media (max-width: 1200px) {
    display: block;
  }
}

.hide-on-tablet {
  @media (max-width: 1200px) {
    display: none;
  }
}

.secondary-title {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  @media (max-width:992px) {
    font-size: 20px;
  }
}