@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "PP Editorial New";
  src: url("../assets/fonts/PPEditorialNew-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("../assets/fonts/PPEditorialNew-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("../assets/fonts/PPEditorialNew-Ultralight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("../assets/fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("../assets/fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("../assets/fonts/PPEditorialNew-UltraboldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Causten";
  src: url("../assets/fonts/Causten-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


body {
  font-family: "Causten";
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.pp-editorial-new-regular {
  font-family: "PP Editorial New", serif;
  font-style: normal;
  font-weight: 400;
}

.pp-editorial-new-italic {
  font-family: "PP Editorial New", serif;
  font-style: italic;
  font-weight: 400;
}

.pp-editorial-new-ultralight {
  font-family: "PP Editorial New", serif;
  font-style: normal;
  font-weight: 200;
}

.pp-editorial-new-ultralight-italic {
  font-family: "PP Editorial New", serif;
  font-style: italic;
  font-weight: 200;
}

.pp-editorial-new-ultrabold {
  font-family: "PP Editorial New", serif;
  font-style: normal;
  font-weight: 800;
}

.pp-editorial-new-ultrabold-italic {
  font-family: "PP Editorial New", serif;
  font-style: italic;
  font-weight: 800;
}

.causten-regular {
  font-family: "Causten", sans-serif;
  font-style: normal;
  font-weight: 400;
}