.color-scheme-winter {
  --color-1: #5A98C0;
  --color-2: #73A2C7;
  --color-3: #B1C9DC;
  --color-4: #9BB69F;
  --color-5: #B78A67;
  --color-border: #FFFFFF80;
  --color-white: #FFFFFF;
  --background-brand-values: linear-gradient(to right, #4D81A3, #9BB69F);
  --single-chalet-content-background: #E4ECF3;
  --key-features__icon-background: #9BB69F;
  --footer-container-background: #00000026;
  --courchevel-background: #B78A67;
  --portfolio-background:#E4ECF3;
  --black-to-white: #000;
}

.color-scheme-summer {
  --color-1: #35656F;
  --color-2: #66A1B1;
  --color-3: #8CB8BB;
  --color-4: #C1D0C9;
  --color-5:  #8CB8BB;
  --color-6: #F9E7DF;
  --color-border:  #00000080;
  --color-white: #000;
  --background-brand-values: linear-gradient(96.6deg, #E2C0A2 0%, #F9E7DF 100%);
  --single-chalet-content-background:#F8EADE;
  --key-features__icon-background: #8CB8BB;
  --footer-container-background:#00000026;
  --courchevel-background: #F1D5BD;
  --portfolio-background:#66A1B1;
  --black-to-white: #fff;
}