.color-scheme-winter {
  --color-1: #5A98C0;
  --color-2: #73A2C7;
  --color-3: #B1C9DC;
  --color-4: #9BB69F;
  --color-5: #B78A67;
  --courchevel-background:#B78A67;
  --color-white: #fff;

}

.color-scheme-summer {
  --color-1: #35656F;
  --color-2: #66A1B1;
  --color-3: #8CB8BB;
  --color-4: #C1D0C9;
  --color-5:  #8CB8BB;
  --color-6: ##F9E7DF;
  --color-black: #000;
  --courchevel-background:#F1D5BD;
}